# Ignore data folders
data/raw/
data/processed/

# Jupyter checkpoints
**/.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/
